:root {
    --border-size: 1px;
}

#container {
    display: flex;
    flex-direction: column;
    justify-content: center;
    width: 30vh;
    min-width: 400px;
    height: 100vh;
    gap: 20px;
    margin: auto;
}

#size-controls-container {
    display: flex;
    width: 100%;
    justify-content: space-evenly;
}

#size-input {
    width: 3em;
}

#grid {
    display: flex;
    flex-direction: column;
    width: 100%;
    aspect-ratio: 1 / 1;
    justify-content: stretch;
    align-items: stretch;
    border: solid black var(--border-size);
}

.grid-row {
    display: flex;
    justify-content: stretch;
    align-items: stretch;
}

.grid-square {
    background-color: white;
    border: solid black var(--border-size);
    flex: 1 1;
    aspect-ratio: 1 / 1;
}

.darkened-square {
    background-color: rgb(62, 62, 62);
}